.title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    /* font-family: 'Faster One', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Codystar', cursive;
    font-family: 'Slackey', cursive; */
    font-family: 'Bungee Shade', cursive;   
  }
  